<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Favicon }}
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "img/favicons/apple-touch-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "img/favicons/apple-touch-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "img/favicons/apple-touch-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "img/favicons/apple-touch-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "img/favicons/apple-touch-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "img/favicons/apple-touch-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "img/favicons/apple-touch-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "img/favicons/apple-touch-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "img/favicons/apple-touch-icon-180x180.png"}}">
    <link rel="icon" type="image/png" href="{{asset "img/favicons/favicon-32x32.png"}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset "img/favicons/android-chrome-192x192.png"}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{asset "img/favicons/favicon-96x96.png"}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{asset "img/favicons/favicon-16x16.png"}}" sizes="16x16">
    <link rel="manifest" href="{{asset "img/favicons/manifest.json"}}">
    <link rel="mask-icon" href="{{asset "img/favicons/safari-pinned-tab.svg"}}" color="#5bbad5">
    <link rel="shortcut icon" href="{{asset "img/favicons/favicon.ico"}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{asset "img/favicons/mstile-144x144.png"}}">
    <meta name="msapplication-config" content="{{asset "img/favicons/browserconfig.xml"}}">
    <meta name="theme-color" content="#ffffff">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/rrssb.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">


    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby"><a href="https://bitbucket.org/ignisphaseone/loki">Loki</a> theme. Published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/rrssb.min.js"}}"></script>

    {{! Activate the social sharing buttons with a suitable post title/desricption/link}}
    <script type="text/javascript">
        jQuery(document).ready(function($) {

            $('.rrssb-buttons').rrssb({
                // required:
                title: '{{post.title}}',
                url: '{{@blog.url}}{{post.url}}',

                // optional:
                 description: '{{post.title}}',
                // emailBody: 'Usually email body is just the description + url, but you can customize it if you want'
            });

        });
    </script>

    {{! Activate GoogleAnalytics }}
    <script>
        // TO ACTIVATE ADD var ga_id = "your_ga_id" to ghost code injection header
        if (window.ga_id) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', window.ga_id, 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('send', 'pageview');
        }
    </script>

    {{! Activate Social Links }}
    <script>
        if(window.social_link){
            var url_regexp = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/
            $.each(window.social_link,function(type, url){
                if(typeof url ==="string" && url_regexp.test(url)){
                    $('<li>').append($('<a>',{
                                        html: '<i class="fa fa-'+type+'"></i>',
                                        title: type,
                                        href: url,
                                        target: "_blank"
                                    })
                                ).appendTo('.social_link');

                }
            })
        }
    </script>

</body>
</html>
