{{!< default}}
{{! The big featured header }}
<header class="main-header {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="vertical">
        <div class="main-header-content inner">
            {{#if @blog.logo}}
            <div class="blog-logo">
                <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
            </div>
            {{/if}}
            <h1 class="page-title">404: Page Not Found</h1>
            <h2 class="page-description"><i>Where does it go?</i></h2>
        </div>
    </div>
</header>
<main>
</main>

