.post-header .social-share {
    margin-top: 1em;
}
.main-header-content .blog-logo {
    float: none;
    margin-top: 10px;
}
.main-header-content .blog-logo img {
    width: 13rem;
    height: auto;
    display: inline;
    border-radius: 50%;
    padding: 0;
    border: 3px solid rgb(255, 255, 255);
}
.post-template .post-header {
    text-align: center;
}
.back-button {
    float: left;
    height: 38px;
    padding: 0 15px 0 10px;
    border: transparent 1px solid;
    color: #CEDBE3;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    border-radius: 3px;
    transition: all ease 0.3s;
    background: #6A7175;
    position: static;
}
.back-button:before {
    position: relative;
    bottom: -2px;
    font-size: 13px;
    line-height: 0;
    margin-right: 8px;
}
.subscribe-button {
    float: right;
    height: 38px;
    padding: 0 20px;
    border: transparent 1px solid;
    color: #CEDBE3 !important;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all ease 0.3s;
    position: static;
    background: #6A7175;
}
.subscribe-button:before {
    font-size: 9px;
    margin-right: 6px;
}

/* Add a border to the buttons on hover */

.back-button:hover, .subscribe-button:hover {
    border-color: rgba(136, 0, 0, 0.8);
    color: rgb(136, 0, 0) !important;
}
.post-footer .author {
    text-align: center;
    margin-right: 0;
}

/* social link */

.main-header .social_link {
    padding: 0;
    list-style-type: none;
}
.main-header .social_link li {
    display: inline;
    font-size: 2.5rem;
}
.main-header .social_link li a {
    display: inline-block;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    color: rgba(255, 255, 255, 0.8);
}
.main-header .social_link li a {
    display: inline-block;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    color: rgba(255, 255, 255, 0.8);
}
.main-header.no-cover .social_link li a {
    color: rgba(0, 0, 0, 0.8);
}
.main-header .social_link li a:hover {
    transform: scale(1.3);
}

/* Menu */

.menu {
    margin-top: 1.2em;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    display: inline-block;
    ;
    margin: 5px;
}
.menu ul li a {
    border: rgba(255, 255, 255, 0.8) 1.5px solid;
    font-weight: 400;
    color: #9EABB3;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    padding: 5px 18px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.1s ease-in-out;
}
.no-cover .menu ul li a {
    color: rgba(0, 0, 0, 0.55);
    border: rgba(0, 0, 0, 0.55) 1.5px solid;
}
.menu ul li a:hover {
    border-color: white;
    color: white;
}
.menu ul li.nav-current a {
    border-color: white;
    color: white;
}
.no-cover .menu ul li a:hover {
    color: black;
    border-color: black;
}
.no-cover .menu ul li.nav-current a {
    color: black;
    border-color: black;
}
